# Compiled output
**/bin
**/obj
app.manifest
*.dll
*.pdb
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
*.code-workspace
packages/
node_modules/
*.log
.DS_Store
Thumbs.db
wwwroot/
dist/
*.coverage
*.coveragexml
coverage/
.env
secrets.json
.publish/
*.pubxml
*.pubxml.user
# Misc
*.orig
Assets/compiled/
